<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <h1>Create a Basketball Team!</h1>

    <form method="POST" action="/team">
    <!--Team Name-->
        <label for="name">Team Name:</label>
        <input type="text" name="name" title="Team Name">
        <br>
    <!--Coach-->
        <label for="coach">Coach:</label>
        <input type="text" name="coach" title="Coach">
        <br>
    <!--Point Guard-->
        <label for="pg">Point Guard:</label>
        <input type="text" name="pg" title="Point Guard">
        <br>
    <!--Shooting Guard-->
        <label for="sg">Shooting Guard:</label>
        <input type="text" name="sg" title="Shooting Guard">
        <br>
    <!--Small Forward-->
        <label for="sf">Small Forward:</label>
        <input type="text" name="sf" title="Small Forward">
        <br>
    <!--Power Forward-->
        <label for="pf">Power Forward:</label>
        <input type="text" name="pf" title="Power Forward">
        <br>
    <!--Center-->
        <label for="c">Center:</label>
        <input type="text" name="c" title="Center">
        <br>
    <!--Submit Form-->
        <input type="submit" id="Submit">
    </form>
 </body>
</html>


